<div class="container">
    <div class="my-5">

        <div class="box-sap">

            <div class="border-bottom">
                <div class="col-12">
                    <h5 class="titulo-seccion-sap m-0">Ingrese contrato</h5>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-lg-4 mx-0 contenido-box-sap py-4">

                <div class="col">
                    <div class="d-flex flex-column">
                        <span class="label-sap">Cliente</span>
                        <h6 class="value-input-sap">Mario Fernandez</h6>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex flex-column">
                        <span class="label-sap">Cliente</span>
                        <h6 class="value-input-sap">Mario Fernandez</h6>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex flex-column">
                        <span class="label-sap">Cliente</span>
                        <h6 class="value-input-sap">Mario Fernandez</h6>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex flex-column">
                        <span class="label-sap">Cliente</span>
                        <h6 class="value-input-sap">Mario Fernandez</h6>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex flex-column">
                        <span class="label-sap">Cliente</span>
                        <h6 class="value-input-sap">Mario Fernandez</h6>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex flex-column">
                        <span class="label-sap">Cliente</span>
                        <h6 class="value-input-sap">Mario Fernandez</h6>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex flex-column">
                        <span class="label-sap">Cliente</span>
                        <h6 class="value-input-sap">Mario Fernandez</h6>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>
